.container{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #026c80;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 80px;
  color: white;
  text-align: center;
  font-family: monospace;
}

.btn-primary {
  border-radius: 50px;
  background-image: linear-gradient(to bottom, #070707, #545454, #0cc0df, #0097b2);
  color: #fff;
  border: none;
  padding: 20px 60px;
  cursor: pointer;
}

#botones li {
  margin: 50px;
  display: flex;
  justify-content: center;
}

.resultados {
  font-size: 20px;
  color: white;
  text-align: center;
  font-family: monospace;
}
  
.diagram {
  width: 600px;
  margin: 0 auto;
}
  
.step {
      font-size: 40px;
      color: white;
      text-align: center;
      font-family: monospace;
}